:root {
    --background-color: #E5E5E5;
    --background-hat-color: #2F303A;
    --background-our-team-color: #F5F4FA;
    --background-footer-color: #2F303A;
    --primary-text-color: #212121;
    --secondory-text-color: #757575;
    --logo-text-color: #000000;
    --hat-text-color: #ffffff;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
}

body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

.logo {
    color: var(--logo-text-color);
}

/* Site nav */
.site-nav .link {
    color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
color: var(--accent-color);
}
