:root {
    --background-color: #E5E5E5;
    --background-hat-color: #2F303A;
    --background-team-color: #F5F4FA;
    --background-footer-color: #2F303A;
    --text-primary-color: #212121;
    --text-secondory-color: #757575;
    --text-logo-color: #000000;
    --text-hat-color: #ffffff;
    --link-footer-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
}

body {
    color: var(--text-primary-color);
    background-color: var(--background-color);
}

.list {
    list-style: none;
}

.logo {
    color: var(--text-logo-color);
}

.button {
    color: var(--text-hat-color);
    background-color: var(--accent-color);
}


/* Site nav */
.site-nav .link {
    color: var(--text-primary-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}